<!-- app/views/sessions/new.html.erb -->
<h1>ログインページ</h1>

<%= form_with url: sessions_path, scope: :session, local: true do |form| %>
  <div>
    <%= form.label :email, t('activerecord.attributes.user.email') %><br>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password, t('activerecord.attributes.user.password') %><br>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "ログイン", id: 'create-session' %>
  </div>
<% end %>
