<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div><br>

  <div class="field">
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div><br>

  <div class="field">
    <%= form.label :deadline_on %><br>
    <%= form.date_field :deadline_on %>
  </div><br>

  <div class="field">
    <%= form.label :priority %><br>
    <%= form.select :priority, Task.priorities.keys.map { |w| [t("enums.task.priority.#{w}"), w] }, include_blank: true, prompt: t('forms.new_task.select_priority_prompt') %>
  </div><br>

  <div class="field">
    <%= form.label :status %><br>
    <%= form.select :status, Task.statuses.keys.map { |w| [t("enums.task.status.#{w}"), w] }, include_blank: true, prompt: t('forms.new_task.select_status_prompt') %>
  </div><br>

  <div class="field">
    <%= form.label :label_ids, 'ラベル' %><br>
    <% current_user.labels.each do |label| %>
      <%= check_box_tag 'task[label_ids][]', label.id, @task.labels.include?(label) %>
      <%= label_tag "task_label_ids_#{label.id}", label.name %><br>
    <% end %>
  </div><br>

  <div class="actions">
    <%= form.submit id:button_id %>
  </div>
<% end %>
