<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, t('forms.new_task.title_label') %><br>
    <%= form.text_field :title %>
  </div><br>

  <div class="field">
    <%= form.label :content, t('forms.new_task.content_label') %><br>
    <%= form.text_field :content %>
  </div><br>

  <div class="actions">
    <%= yield(form) if block_given? %>
  </div>
<% end %>
