<h1>ラベル編集ページ</h1>

<%= form_with(model: @label, local: true) do |form| %>
  <% if @label.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @label.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div><br>

  <div class="actions">
    <%= form.submit '更新する', id: 'update-label' %>
  </div>
<% end %>

<%= link_to '戻る', labels_path, id: 'back' %>
